body{
  background: url(https://cdn.civitatis.com/marruecos/merzouga/galeria/excursion-desierto-camellos.jpg);
  background-repeat: no-repeat;
}

div{
  background-color: darkgray;
  border-color: gray;
  border-width: 4px;
  border-style: dotted;
}

p{
  color: yellow;
}

span{
  background: red;
  color: black;
}
